    /* Estilos personalizados para la barra de navegación */
    .navbar-custom {
      background-color: #004085; /* Color de fondo azul */
        background-size: cover;
    }
    .navbar-custom .navbar-brand img {
      width: 100px; /* Tamaño del logo */
    }
    body {
      background-image: url('imagen.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed; /
    }

    @font-face {
      font-family: 'CustomFont';
      src: url('ruta/a/tu/fuente.ttf') format('truetype'); /* Reemplaza con la ruta de tu fuente personalizada */
    }
    
    .custom-font {
      font-family: 'CustomFont', sans-serif; /* Aplica la fuente personalizada */
      /* Otras propiedades de estilo */
    }
    